a {
 text-decoration:none;   
}

#wrapper {
  max-width:940px;
  margin:0 auto;
  background-color:#1874CD;
  padding:0 5%;
}

#logo {
  text-align:center;
  margin:0;
}

body{
  background-color: #1874CD;
  color:#000000;
}
a {
  color:#fff;  
}

header {
  background:#d80000;  
}

h1, h2 {
  color:#fff;  
}

nav {
  background:#800000;  
}

nav a, nav a:visited{
  color: #fff;
}

nav a.selected,nav a:hover {
  color:#000000;
}